
version: '3.8'

services:
  postgres:
    image: postgres:16
    container_name: graphql-practice-postgresql
    restart: always
    volumes:
      - ./data/postgres:/var/lib/postgresql/data
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypass
      POSTGRES_DB: graphql

